<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portail Laclasse.com <-> GAR">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Laclasse.com</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= APP_PATH %>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet />

    <!-- Custom styles for this template -->
    <link href="<%= APP_PATH %>/bower_components/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" >
    <link href="<%= APP_PATH %>/bower_components/angular-carousel/dist/angular-carousel.min.js"  rel="stylesheet" type="text/css" >

    <link href="<%= APP_PATH %>/styles/main.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">

      <div id="flash"></div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:#E7E7E7;">
	<%= yield %>
      </div>

    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="<%= APP_PATH %>/bower_components/underscore/underscore.js"></script>
    <script src="<%= APP_PATH %>/bower_components/faye/include.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular/angular.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="<%= APP_PATH %>/bower_components/jquery/dist/jquery.js"></script>
    <script src="<%= APP_PATH %>/bower_components/growl/javascripts/jquery.growl.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-carousel/dist/angular-carousel.min.js"></script>

    <script src="<%= APP_PATH %>/scripts/controllers/main.js"></script>
    <script src="<%= APP_PATH %>/scripts/controllers/PortailCtrl.js"></script>
    <script src="<%= APP_PATH %>/scripts/controllers/AppWrapperCtrl.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/constants.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/authentication.js"></script>
    <script src="<%= APP_PATH %>/scripts/app.js"></script>
  </body>
</html>
