<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="content-language" content="fr">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Portail Laclasse.com">
	<meta name="author" content="">

	<link rel="apple-touch-icon" sizes="57x57" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/favicon-16x16.png">
	<link rel="manifest" href="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="<%= APP_PATH %>/app/vendor/laclasse-common-client/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title><%= ENV[ 'RACK_ENV' ] == 'development' ? 'β' : '' %>Laclasse.com</title>

	<script type="text/javascript">
	if ( top != self ) top.location.replace( location );
	</script>

	<link href="<%= APP_PATH %>/app/vendor/bootstrap/dist/css/bootstrap.min.css?v=<%=APP_VERSION%>" rel="stylesheet" />
	<link href="<%= APP_PATH %>/app/vendor/Font-Awesome/css/font-awesome.min.css?v=<%=APP_VERSION%>" rel="stylesheet" />
	<link href="<%= APP_PATH %>/app/vendor/angular-carousel/dist/angular-carousel.min.css?v=<%=APP_VERSION%>" rel="stylesheet" />

	<link href="<%= APP_PATH %>/app/vendor/vendor.min.css?v=<%=APP_VERSION%>" rel="stylesheet">
	<link href="<%= APP_PATH %>/app/css/portail.min.css?v=<%=APP_VERSION%>" rel="stylesheet">
	<link href="<%= APP_PATH %>/app/css/other-devices.css?v=<%=APP_VERSION%>" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
    </head>

    <body>

	    <%= yield %>


	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->


	    <% if ENV['RACK_ENV'] == 'production' %>
		    <script src="<%=APP_PATH%>/app/vendor/vendor.min.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/portail.min.js?v=<%=APP_VERSION%>"></script>
	    <% else %>
		    <script src="<%= APP_PATH %>/app/vendor/jquery/dist/jquery.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/jquery-ui/jquery-ui.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/underscore/underscore.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/moment/moment.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/moment/locale/fr.js?v=<%=APP_VERSION%>"></script>

		    <script src="<%= APP_PATH %>/app/vendor/angular/angular.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-i18n/angular-locale_fr-fr.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-resource/angular-resource.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-touch/angular-touch.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-ui-router/release/angular-ui-router.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-bootstrap/ui-bootstrap-tpls.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-animate/angular-animate.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/ng-file-upload/ng-file-upload-all.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/ng-flow/dist/ng-flow-standalone.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-moment/angular-moment.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/ng-switcher/dist/ng-switcher.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-ui-sortable/sortable.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-delay/build/angular-delay.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/ng-color-picker/color-picker.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-carousel/dist/angular-carousel.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/vendor/angular-toastr/dist/angular-toastr.tpls.js?v=<%=APP_VERSION%>"></script>

		    <script src="<%= APP_PATH %>/app/js/app.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/constants.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/defaults.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/services/user.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/services/apps.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/services/flux.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/services/news.js?v=<%=APP_VERSION%>"></script>

		    <script src="<%= APP_PATH %>/app/js/controllers/ProfilActifCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/PortailCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/DamierAppsCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/ModificationUserCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/TrombinoscopeCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/AppWrapperCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/PopupAjoutAppCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/PopupConfigNewsFluxesCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/RessourcesNumeriquesCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/CCNCtrl.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%= APP_PATH %>/app/js/controllers/IframeCtrl.js?v=<%=APP_VERSION%>"></script>

		    <script src="<%=APP_PATH%>/app/js/templates/apps.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/trombinoscope.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/index.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/app-wrapper.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/user.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/popup_ajout_app.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/popup_config_news_fluxes.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/popup_change_password.html.js?v=<%=APP_VERSION%>"></script>

		    <script src="<%=APP_PATH%>/app/js/templates/ressources_numeriques.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/ccn.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/archives-ccn.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/iframe.html.js?v=<%=APP_VERSION%>"></script>
		    <script src="<%=APP_PATH%>/app/js/templates/app-tile-content.html.js?v=<%=APP_VERSION%>"></script>
	    <% end %>
    </body>
</html>
